.charts{
    margin-left: 20px;
    margin-bottom: 200px;
    
}
.chart{
   margin-top: 100px;
}
.chart-heading{
    text-align: start;
    margin-left: 40px;
    line-height: 1rem;
}
.chart-heading p{
    color: #2504b8;
}
.chart-details{
    text-align: start;
}
.chart-details {
    margin-left: 50px;
    width:80%;
    text-align: justify;
}
@media screen and (max-width: 567px) {
    .chart-details {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
    }
}


